@charset "utf-8";

html {
	margin: 0;
	padding: 0;
	color: #333;
}

body {
	width: 100%;
	margin: 0 auto;
}

header {
	height: 200px;
	background-color: #FBFBFB;
}

section {
	height: 500px;
	background-color: #456665;
}

footer {
	height: 100px;
	background-color: #000;	
}